@model SinavOlusturma.Data.ModelView.ExamQuestionView
@{
    ViewBag.Title = "Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-body mt-3">
    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="md-form">
                <input type="text" id="title" class="form-control" value="@Model.Exam.Title" disabled>
            </div>
        </div>
        <div class="col-md-12">
            <div class="md-form">
                <textarea type="text" id="content" class="md-textarea" style="height: 150px" disabled>@Model.Exam.Text</textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body mt-3">
                        <div class="md-form">
                            <textarea type="text" id="question1" class="md-textarea" disabled>@Model.Questions[0].QuestionContent</textarea>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio1">
                            <label for="radio1">@Model.Questions[0].OptionA</label>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio2">
                            <label for="radio2">@Model.Questions[0].OptionB</label>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio3">
                            <label for="radio3">@Model.Questions[0].OptionC</label>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio4">
                            <label for="radio4">@Model.Questions[0].OptionD</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body mt-3">
                        <div class="md-form">
                            <textarea type="text" id="question1" class="md-textarea" disabled>@Model.Questions[1].QuestionContent</textarea>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio1">
                            <label for="radio1">@Model.Questions[1].OptionA</label>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio2">
                            <label for="radio2">@Model.Questions[1].OptionB</label>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio3">
                            <label for="radio3">@Model.Questions[1].OptionC</label>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio4">
                            <label for="radio4">@Model.Questions[1].OptionD</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body mt-3">
                        <div class="md-form">
                            <textarea type="text" id="question1" class="md-textarea" disabled>@Model.Questions[2].QuestionContent</textarea>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio1">
                            <label for="radio1">@Model.Questions[2].OptionA</label>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio2">
                            <label for="radio2">@Model.Questions[2].OptionB</label>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio3">
                            <label for="radio3">@Model.Questions[2].OptionC</label>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio4">
                            <label for="radio4">@Model.Questions[2].OptionD</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body mt-3">
                        <div class="md-form">
                            <textarea type="text" id="question1" class="md-textarea" disabled>@Model.Questions[3].QuestionContent</textarea>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio1">
                            <label for="radio1">@Model.Questions[3].OptionA</label>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio2">
                            <label for="radio2">@Model.Questions[3].OptionB</label>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio3">
                            <label for="radio3">@Model.Questions[3].OptionC</label>
                        </div>
                        <div class="form-group">
                            <input name="group1" type="radio" id="radio4">
                            <label for="radio4">@Model.Questions[3].OptionD</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary float-right" style="width: 10rem">Complete!</button>
                </div>
            </div>
        </div>
    </div>
</div>

