@model SinavOlusturma.Data.ModelView.ExamQuestionView
@{
    ViewBag.Title = "Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-body mt-3">
    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="md-form">
                <input type="text" id="title" class="form-control" value="@Model.Exam.Title" disabled>
            </div>
        </div>
        <div class="col-md-12">
            <div class="md-form">
                <textarea type="text" id="content" class="md-textarea" style="height: 150px" disabled>@Model.Exam.Text</textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body mt-3" id="question1" qID="@Model.Questions[0].Id">
                        <div class="md-form">
                            <textarea type="text" id="question1" class="md-textarea" disabled>@Model.Questions[0].QuestionContent</textarea>
                        </div>
                        <div class="form-group" asd="qweqweqe">
                            <input name="question1" type="radio" id="q1option1" value="A">
                            <label for="q1option1">@Model.Questions[0].OptionA</label>
                        </div>
                        <div class="form-group">
                            <input name="question1" type="radio" id="q1option2" value="B">
                            <label for="q1option2">@Model.Questions[0].OptionB</label>
                        </div>
                        <div class="form-group">
                            <input name="question1" type="radio" id="q1option3" value="C">
                            <label for="q1option3">@Model.Questions[0].OptionC</label>
                        </div>
                        <div class="form-group">
                            <input name="question1" type="radio" id="q1option4" value="D">
                            <label for="q1option4">@Model.Questions[0].OptionD</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body mt-3" id="question2" qID="@Model.Questions[1].Id">
                        <div class="md-form">
                            <textarea type="text" id="question1" class="md-textarea" disabled>@Model.Questions[1].QuestionContent</textarea>
                        </div>
                        <div class="form-group">
                            <input name="question2" type="radio" id="q2option1" value="A">
                            <label for="q2option1">@Model.Questions[1].OptionA</label>
                        </div>
                        <div class="form-group">
                            <input name="question2" type="radio" id="q2option2" value="B">
                            <label for="q2option2">@Model.Questions[1].OptionB</label>
                        </div>
                        <div class="form-group">
                            <input name="question2" type="radio" id="q2option3" value="C">
                            <label for="q2option3">@Model.Questions[1].OptionC</label>
                        </div>
                        <div class="form-group">
                            <input name="question2" type="radio" id="q2option4" value="D">
                            <label for="q2option4">@Model.Questions[1].OptionD</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body mt-3" id="question3" qID="@Model.Questions[2].Id">
                        <div class="md-form">
                            <textarea type="text" id="question1" class="md-textarea" disabled>@Model.Questions[2].QuestionContent</textarea>
                        </div>
                        <div class="form-group">
                            <input name="question3" type="radio" id="q3option1" value="A">
                            <label for="q3option1">@Model.Questions[2].OptionA</label>
                        </div>
                        <div class="form-group">
                            <input name="question3" type="radio" id="q3option2" value="B">
                            <label for="q3option2">@Model.Questions[2].OptionB</label>
                        </div>
                        <div class="form-group">
                            <input name="question3" type="radio" id="q3option3" value="C">
                            <label for="q3option3">@Model.Questions[2].OptionC</label>
                        </div>
                        <div class="form-group">
                            <input name="question3" type="radio" id="q3option4" value="D">
                            <label for="q3option4">@Model.Questions[2].OptionD</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body mt-3" id="question4" qID="@Model.Questions[3].Id">
                        <div class="md-form">
                            <textarea type="text" id="question1" class="md-textarea" disabled>@Model.Questions[3].QuestionContent</textarea>
                        </div>
                        <div class="form-group">
                            <input name="question4" type="radio" id="q4option1" value="A">
                            <label for="q4option1">@Model.Questions[3].OptionA</label>
                        </div>
                        <div class="form-group">
                            <input name="question4" type="radio" id="q4option2" value="B">
                            <label for="q4option2">@Model.Questions[3].OptionB</label>
                        </div>
                        <div class="form-group">
                            <input name="question4" type="radio" id="q4option3" value="C">
                            <label for="q4option3">@Model.Questions[3].OptionC</label>
                        </div>
                        <div class="form-group">
                            <input name="question4" type="radio" id="q4option4" value="D">
                            <label for="q4option4">@Model.Questions[3].OptionD</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row mt-3">
                <div class="col-md-12">
                    <button id="complete" type="button" class="btn btn-primary float-right" style="width: 10rem" onclick="Complete(@Model.Exam.Id);">Complete!</button>
                </div>
            </div>
        </div>
    </div>
</div>

